body{
    /* background-image: url(/images/pic.jpeg);
    background-size: cover; */
    background-color: teal;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    margin-right: 0px;
    padding-top: 0px;
 }
 nav>ul{
   text-align:right;
 }
 nav>ul>li{display:inline-block;}
 nav>ul>li>a{
 padding: 20px;
 margin-right: 0%;
 text-transform: uppercase;
 text-decoration: none;
 word-spacing: normal;
 }
 nav>ul{
   text-align:right;
   word-spacing: inherit;
 }
 nav>ul>li{display:inline-block;}
 nav>ul>li>a{
 padding: 20px;
 margin-right: 0%;
 text-transform: uppercase;
 text-decoration: none;
 display: block;
 color:blue;
 }
 nav>ul>li>a:hover {
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
 background:blue;
 color:red;
 }
 .header{
     text-align: center;
     padding-top: 40px;
 }
 h1{
     font-size:xx-large;
     font-family: serif;
     font-weight: bolder;
 }
 .header>h1{
     text-align: center;
 }
 .rounded img{
     border-radius: 50%;
     box-shadow: 5px 5px 5px;
     float:center;
 }
 .rounded{
     margin-bottom: px;
     padding-top: 40px;
     display: inline-block;
     margin-left: 360px;
     padding-bottom: 20px;
 }.column1 {
    float: left;
    width: 50%;
    padding-top: 40px;
 }
 .row1{
     padding-left: 50px;
 }
  .column1>p{
      font-size: larger;
      font-family: 'Times New Roman', Times, serif;
      font-weight: 800px;
  }
  
  .row1:after{
    content: "";
    display: flex;
    clear: both;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 0 10px; 

  }
  

  .row {margin: 0 -5px;}
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 25px;
    text-align: center;
    background-color:blue;
    margin: 40px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .overview{
      padding-top: 10px;
  }
  .overlay{
      padding-top: 50px;
  }
  .overlay>h1{
      text-align: center;
      padding-bottom: 10px;
      text-decoration: underline;

  }
  .overlay>ul>li{
   float: left;
   text-align: left;
  }
  span{
      color:blue;
      font-weight: bolder;
      font-size: xx-large;
  }
  .column>ul>p{
      text-align: left;
  }.column2{
    float: left;
    width: 50%;
    padding: 40px;
    font-size: x-large;
    padding-top: 40px;
    background-color: blue;
    box-shadow: 20px 30px 40px;
  }
  
  
  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
 .row2>h1{
   text-align: center;
   font-size: xx-large;
   font-weight: bolder;
   font-family:serif;
   padding-top: 120px;
   padding-bottom: 60px;
   text-decoration: underline;
 }
.column2>span{
  color: darkgreen;
}
.row2>span{
  color: red;
  text-decoration: darkgreen;
}
.column2>h3{
  text-align: center;
}
*{
  /* background-image: url(/images/pic.jpeg); */
}


 


